*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.main{
    /* margin: 150px 0 0 350px; */
    margin: 10% 0 0 20%;
    display: block;
    height: 50%;
    width: 60%;
    border: 0.3rem solid white;
    border-radius: 0.5rem;
    
}
.text-content{
    margin-top: 2%;
    text-align: center;
}
form{
    height: 200px; 
    border-radius: 2px;
    margin-top: 5%;
    text-align: center;
}
form p,button{
    padding: 5px;

}
form button{
    border: 1px solid;
}
form input{
    border: 1px solid;
    margin-left: 10px;
}
form #results{
    margin-top: 20px;
    text-align: center;
}

